body{
    font-family: times,arial,helvetica;
    line-height: 1;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

section a{
    color: blue;
}

section a:hover{
    font-weight: bold;
}

.highlight{
    color: aqua;
    font-weight: bold;
}

header{
    background-color: rgb(128,128,128);
    min-height: 108px;
    border-bottom: rgb(0,0,255) 8px solid;
    position: sticky;
    top: 0rem;
}

header h1{
    float: left;
    margin-top: 65px;
    margin-left: 16px;
}

header ul{
    float: right;
    margin-top: 80px;
    margin-right: 16px;
}

header li{
    display: inline;
}

header a{
    text-decoration: none;
    color: black;
    margin-left: 16px;
}

header a:hover{
    color: orange;

}

footer ul{
    list-style-type: none;
    margin-bottom: 0px;
}

footer a{
    color: blue;
    margin-left: 16px;
}

footer{
    background-color: rgb(128,128,128);
    margin-top: 50px;
    border-top: rgb(0,0,255) 8px solid;
}

pre{
    font-family: times,arial,helvetica;
    font-weight: bold;
    font-size: 25px;
}



footer a:hover{
    font-weight: bold;
}

section h1{
    background-color: rgb(128,128,128);
}

p{
    margin-left: 512px;
    margin-right: 512px;
    font-size: 25px;
}

h2{
    font-size: 128px;
    font-family: times;
}

.quote{
    margin-top: 120px;
    float: left;
    width: 33%;
}

.container{

    margin: auto;
    overflow: hidden;
}

.link{
    color: blue;
}

.home-bg{
    background-color: rgb(200,200,255);
}

.about-bg{
    background-image: url("qmarks.jpg");
}

.projects-bg{
    background-image: url("Blueprint.jpg");
}

span{
    background-color: white;
}

@media(max-width: 770px){
    header{
        margin-top: 0px;
        min-height: 60px;
    }
    
    header li{
        float: none;
    }
    
    header ul{
        float: none;
        margin-top: 0px;
    }
    
    header h1{
        margin-top: 0px;
    }
    
    .quote img{
        width: 200px;
        height: 200px;
    }
    
    h2{
        font-size: 50px;
    }
    
    footer pre{
        font-size: 20px;
    }
    
    .quote{
    margin-top: 50px;
    width: 100%;
    }
    
    .aboutme img{
        width: 300px;
        height: 150px;
    }
    
    p{
        margin-left: 0px;
        margin-right: 0px;
        
    }
    
    .nonimage img{
        width: 300px;
        height: 300px;
    }
    
    
}