body{
    font-family: times,arial;
    background-color: rgb(128,128,128);
    font-size: 20px;
    line-height: 1;
    color: rgb(0,0,0);
}

h1{
    background-color: brown;
    color: aqua;
    width: 21%;
}